[user]
    name = waa
    email = zengchh3@gmail.com
[color]
    ui = auto
[init]
    defaultBranch = main
[http "https://github.com"]
	proxy = socks5://222.200.185.33:11089
[https "https://github.com"]
    proxy = socks5://222.200.185.33:11089
